:root {
    --darkGreen: #064e3b;
    --white: #ffffff;
    --brown: #8b5e3c;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--darkGreen);
    min-height: 100vh;
    position: relative;
    gap: 20px;
  }
  
  .contentArea {
    flex: 1;
    max-width: 700px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 0 1rem;
  }
  
  .arrowButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: var(--white);
  }
  
  .titleText {
    font-weight: bold;
    font-size: 24px;
    color: var(--brown);
    margin-bottom: 12px;
    text-align: center;
  }
  
  .contentText {
    font-size: 20px;
    color: var(--white);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .index {
    position: absolute;
    bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    color: var(--brown);
  }
  